django
djangorestframework
markdown
django-filter
# psycopg2
psycopg2-binary
pika
pyzmq
# django-cors-headers
django-environ
djoser
# django-sslserver
channels
# django-redis
django-async-redis
django_cors_headers==3.5.0
aioredis
