channels
django == 3.*
djangorestframework
markdown
django-filter
psycopg2 == 2.8.6;    sys_platform == 'linux'
psycopg2-binary; sys_platform == 'linux'
django-environ
djoser
django_cors_headers==3.5.0
mysqlclient

